<footer class="container">
  <div class="row">
    <div class="col-md-12">
      <span id="copyright">Copyright &copy; 2013 <a href="http://i2bskn.com">i2bskn</a></span>
    </div>
  </div>
</footer>
